.idea
*.iml
*.pem
*.cert
*.passphrase
node_modules
build
target
/node_modules
/.pnp
.pnp.js
.vscode

# testing
/coverage
/.nyc_output
cypress/videos

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
yarn-debug.log*
yarn-error.log*

# Ignore builds
*.tgz

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless