
.dropzone {
    background: #eee;
    border: 2px dashed lightgray;
    padding: 10px;
    margin-top: 5px;
    width: 600px;
    height: 230px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-flow: column;
}
