@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create CSS class based components */
/* https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */
@layer components {
    .btn-icon-sm {
        @apply n-ml-token-2 n-w-4 n-h-4;
    }

    /* Make bullet list points in Markdown card view */
    .card-view ul {
        @apply n-list-disc n-ml-token-7;
    }
}