.question-answer-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-description {
    color: #777;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    height: 47px;
    min-height: 47px;
    max-height: 120px;
    resize: vertical;
    overflow-y: auto;
  }
  
  
  .button-group {
    text-align: right;
  }
  
  .submit-button,
  .close-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .submit-button:hover,
  .close-button:hover {
    background-color: #e0e0e0;
  }

  .error-message {
    color: red;
    text-decoration: underline;
  }
  