name: Test/Deploy Develop

on:
  push:
    branches: [develop]

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Creating Neo4j Container
        run: |
          chmod +x apps/neodash-editor/docker-files/docker-neo4j-initializer/docker-neo4j.sh
          apps/neodash-editor/docker-files/docker-neo4j-initializer/docker-neo4j.sh
          sleep 30s
          chmod +x apps/neodash-editor/docker-files/docker-neo4j-initializer/start-movies-db.sh
          apps/neodash-editor/docker-files/docker-neo4j-initializer/start-movies-db.sh
      - run: yarn global add turbo
      - run: yarn install
      - name: Eslint check
        run: turbo run lint
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          build: turbo run build --filter neodash-editor
          start: turbo run start --filter neodash-editor
          wait-on: "http://localhost:3000"
          browser: chrome
  build-s3:
    needs: build-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: turbo run build --filter neodash-editor
      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
      - run: curl ${{ secrets.INDEX_HTML_DEPLOYMENT_URL }} > apps/neodash-editor/dist/index.html
      - run: aws s3 rm s3://neodash-test.graphapp.io/ --recursive && aws s3 sync apps/neodash-editor/dist s3://neodash-test.graphapp.io/ --acl public-read
